
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<ul>
	 <li ng-repeat="x in choices" ng-click="pickChoices(x)">{{x.Label}}</li>
</ul>
<form>
  <div class="form-group">
    <label>Message: </label>
	<input ng-model="msg" class="form-control" type="text">
  </div>
  <div class="form-group">
	<button ng-click="sendMsg()">Submit</button>
  </div>
</form>
</body> 