<!DOCTYPE html>
<html lang="en">

<head>
<meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<style>
.equal {
  display: flex;
  display: -webkit-flex;
  flex-wrap: wrap;
}
</style>
</head>
<body>
<div class="container-fluid">
	<div class="row equal">
			<div class="col-sm-3" style="background-color:lavender;">
				<com-navigation></com-navigation>
			</div>
			<div class="col-sm-6" style="background-color:lavenderblush;">
				<content-container></content-container>
			</div>
	</div>
			
</div>
</body>
</html>